@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
div{
    display: block;
}
img {
    width: 100%;
}

#topbox{
    background-color: #ffcd9e;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
b{
    position: relative;
    top: 20px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 800;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}

#topleft {
    padding: 0 50px;
}

#topright{
    width: 100%;
    height: 100%;
    max-width: 500px;

}

button{
    margin-left: 10px;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-size: large;
    font-family: Inter;
    padding: 20px 40px;
}
#middle{
    position: relative;
    top: 30px;
    width: 100%;
    /* height: ; */
    display: flex;
    flex-direction: row;
}
#middle input{
    background-color: white;
    outline: none;
    border-radius: 8px;
    border: 4px solid black;
    font-size: 20px;
    padding: 20px 30px;

}
.a{
    position: relative;
    top: 20px;
    font-family: Inter;
    color : #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0em;
    justify-content: left;
    padding: 30px 60px;
}

#img{
    /* align-items:flex-end; */
    justify-content: flex-end;
}
.heading{
    font-family: inter;
    font-weight: 700;
    font-size: 36px;
}
.c{
    position: relative;
    top: 10px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #484848;
}

#bot{
    background-color: #282828;
    /* width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: row;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    /* letter-spacing: 0em; */
    justify-content:space-around;
    
   
}
#bottomleft{
    justify-content: flex-start;
}

#bottomright{
    justify-content:right; 
    text-align: right;
}
ul{
    list-style: none;
    width: 100%; 
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    color: #FFFFFF;

}
ul img{
    width: 29.41px;
    height: 27.42px;
}







